.function-hub-instance {
    background-image: url(../../../union.svg) !important;
  }
  
  .design-component-instance-node {
    background-image: url(../../../ellipse-3-3.svg) !important;
  }
  
  .function-hub-2 {
    background-image: url(../../../ellipse-5-2.svg) !important;
  }
  
  .function-hub-3 {
    background-image: url(../../../ellipse-4-6.svg) !important;
  }
  
  .function-hub-4 {
    background-image: url(../../../ellipse-3-4.svg) !important;
  }
  
  .function-hub-5 {
    background-image: url(../../../image.svg) !important;
  }
  
  .function-hub-6 {
    background-image: url(../../../ellipse-4-3.svg) !important;
  }