@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren:wght@400&display=swap');

/* Disable scroll */
body {
    overflow: hidden;
    margin: 0; /* Ensure no margin around the body */
}

/* FunctionDefault */
.componentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-size: 35px;
    color: #eab4fe;
    font-family: 'Space Grotesk';
    position: relative;
    padding: 20px; /* Add padding to ensure components don't touch the screen edges */
}

.actionSenseSection, .hubBottomIcon {
    position: absolute;
    right: 20px; /* Add margin from the right edge */
}

.actionSenseSection {
    top: 10%;
    width: 459px;
    height: 328px;
}

.hubBottomIcon {
    top: calc(10% + 328px + 20px); /* Ensure it's below the actionSenseSection with some space */
    border-radius: 25px;
    width: 1100px;
    /* og 983 px */
    height: 340px;
    object-fit: contain;
    background-color: #BA1DF1;
}

.actionSenseButtonGroup {
    position: absolute;
    top: 60%; /* Adjusted to lower the button group */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    height: 180px;
    font-size: 30px;
    color: #ba1df1;
    font-family: 'McLaren';
    z-index: 50;
}

.hubConnectIcon {
    position: absolute;
    bottom: 10%; /* Adjust this value to align correctly -73px*/
    right: 300px; /* 0*/
    border-radius: 25px;
    transform: translateY(70%); /* Center vertically */
    max-width: 100%;
    overflow: hidden;
    height: 73px;
    object-fit: contain;
    background-color: #BA1DF1;
    z-index: 100;
}

.functionHubText {
    position: absolute;
    top: -30px; /* Move it up by adjusting this value */
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 0.06em;
    font-weight: 500;
    width: 244px;
    height: 40px;
}

.hubTopBackground {
    position: relative;
    top: calc(10% - 89px);
    /* og 50% -89px px */
    left: calc(50% - 229.5px);
    border-radius: 25px;
    width: 459px;
    height: 400px;
    /* og 253 px */
    object-fit: contain;
    background-color: #BA1DF1;
    z-index: -1;
}

.actionButtonChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #fff;
    border-color: #fff;
    font-size: 30px;
    color: #ba1df1;
    font-family: 'McLaren';
}

.actionButton {
    position: absolute;
    height: 47.77%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 52.23%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.senseButton {
    position: absolute;
    height: 47.77%;
    width: 100%;
    top: 52.23%;
    right: 0%;
    bottom: -0.01%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}







