.speed {
    height: 107px;
    position: relative;
    width: 107px;
  }
  
  .speed .group-2 {
    box-shadow: inset 0px 4px 4px #00000040;
    height: 86px;
    left: 0;
    position: absolute;
    top: 0;
    width: 107px;
  }
  
  .speed .rectangle {
    border-radius: 8px 8px 0px 0px;
    height: 29px;
    left: 0;
    position: absolute;
    top: 58px;
    width: 22px;
  }
  
  .speed .rectangle-2 {
    border-radius: 8px 8px 0px 0px;
    height: 48px;
    left: 28px;
    position: absolute;
    top: 38px;
    width: 22px;
  }
  
  .speed .rectangle-3 {
    border-radius: 8px 8px 0px 0px;
    height: 67px;
    left: 57px;
    position: absolute;
    top: 19px;
    width: 22px;
  }
  
  .speed .rectangle-4 {
    border-radius: 8px 8px 0px 0px;
    height: 86px;
    left: 85px;
    position: absolute;
    top: 0;
    width: 22px;
  }
  
  .speed .vector {
    height: 14px;
    left: 4px;
    position: absolute;
    top: 93px;
    width: 100px;
  }
  
  .speed .inactive {
    background-color: #ba1df1;
  }
  
  .speed .three {
    background-color: #eab3fd;
  }
  
  .speed .property-1-inactive {
    background-color: #ba1df1;
  }
  
  .speed .property-1-three {
    background-color: #eab3fd;
  }
  
  .speed .property-1-0-inactive {
    background-color: #ba1df1;
  }
  
  .speed .property-1-0-three {
    background-color: #eab3fd;
  }
  
  .speed .property-1-1-inactive {
    background-color: #ba1df1;
  }
  
  .speed .property-1-1-three {
    background-color: #ffffff;
  }