.trackContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 200px;
    align-items: center;
    z-index: 0;
}

.dropTarget {
    /* width: 475px;
    height: 216.19px; */
    position: relative;
    /* border-radius: 25px;
    background-color: #E4EAF6;
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 24px;
    font-weight: 700;
    line-height: 30.62px;
    letter-spacing: 0.06em; */
    /* color: #405CB0; */
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.codeSucker {
    transform: translateY(-11.5%);
    z-index: 2;
}

.codeTrack {
    transform: translateY(-30%);
    z-index: 1;
}

.nextButton,
.prevButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.nextButton {
    transform: translateY(-283%);
    z-index: 2;
}

.prevButton {
    transform: translateY(-330%);
    z-index: 3;
}

.prevButton:disabled,
.nextButton:disabled {
    cursor: not-allowed;
}

.nextButton img,
.prevButton img {
    display: block; /* Remove any spacing below the image */
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}
