.sensorGroup {
    display: grid;
    grid-template-areas: 
      "label"
      "sensorIcon"
      "colors";
    align-items: center;
    justify-items: center;
    z-index: 10;
    position: relative;
    top: 27%;
    width: 100%; 
    row-gap: 25px; 
  }
  
  .colorSensorLabel {
    color: #FFFF;
  }
  
  .sensorIcon {
    grid-area: sensorIcon;
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
  
  }
  
  .colorPalette {
    margin-top: 30px;
    grid-area: colors;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define 4 equal columns */
    grid-template-rows: auto; /* Auto rows to fit content */
    justify-content: center;
    align-items: center;
    padding: 0 50px; /* Adjust padding to avoid overflow */
    grid-gap: 20px;
  }
  
  .noColorButton {
    background: none;
    padding: 0;
    border: none;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .noColorButton img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  
  