.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
  gap: 20px; /* Adjust the gap between squares */
}

.draggable-items {
  margin-top: 20px;
  display: flex;
  gap: 10px; /* Adjust the gap between draggable items */
}


