.knob {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: contain;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./motor_360.png');
    transform: rotate(45deg);
    grid-column-start: 1;
    grid-row-start: 2;
  }
  
  /* .knob-indicator {
    width: 30px;
    height: 150px;
    background: #333;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  } */


  .knob-mark {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(0, 0, 0);
    border-radius: 25%;
    position: relative;
    top: 0;
    left: 50%;
    z-index: 100;
    /* transform: translateX(-50%); */
  }

  /* .motor-bckgnd {
    width: 300px;
    height: 300px;
    position: relative;
    background-image: url('./roman-clock.jpeg');
    background-size: contain;
    border-radius: 50%;
  } */

  .grid-container {
    display: flex;
  }
  