.play-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f78234; /* Bootstrap primary color */
  color: white;
  font-size: larger;
  border: none;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button:hover {
    background-color: #e9650c; /* Darker shade on hover */
  }
  
  .play-button:active {
    background-color: #d05402; /* Even darker shade on click */
  }

.word-icon {
    display: flex;
    flex-direction: column;
}